# docs build files
.DS_Store
.pytest_cache
.ruff_cache
.tox
.coverage
.idea/
.vscode/
*.egg-info/
*.snap
*.log
/*env*/
__pycache__
coverage_html_report
out/
output.xml
log.html
report.html
package*.json
results
squashfs-root
