name: PreCommit

on:
  merge_group:
    types: [checks_requested]
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read  # Required to check out repository code

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  PreCommit:
    name: Run pre-commit hooks
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: "3.12"
    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244
    - name: Install system dependencies
      run: |
        sudo apt-get update --quiet
        sudo apt-get install --yes \
          libxkbcommon-dev \
          libwayland-dev
    - name: Run prek
      run: uv run prek run --all-files --show-diff-on-failure
