name: PreCommit

on:
  merge_group:
    types: [checks_requested]
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read  # Required to check out repository code

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  PreCommit:
    name: Run pre-commit hooks
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0
        persist-credentials: false
    - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405
      with:
        python-version: "3.12"
    - name: Install uv
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41
    - name: Install system dependencies
      run: |
        sudo apt-get update --quiet
        sudo apt-get install --yes \
          libxkbcommon-dev \
          libwayland-dev
    - name: Run prek
      run: uv run prek run --all-files --show-diff-on-failure
