name: Test snap builds without errors

on:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - .github/workflows/test-snap-build.yml
      - snap/**
      - pyproject.toml
  workflow_dispatch:

permissions:
  contents: read  # Required to check out repository code

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build snap on ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            runs_on: [self-hosted, linux, noble, x64, large]
          - arch: arm64
            runs_on: [self-hosted, linux, noble, arm64, large]

    runs-on: ${{ matrix.runs_on }}
    steps:
    - name: Checkout Repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        persist-credentials: false

    - name: Build snap
      uses: canonical/action-build@3bdaa03e1ba6bf59a65f84a751d943d549a54e79

    - name: Upload snap artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: ${{ matrix.arch }}-snap
        path: "*.snap"
        if-no-files-found: error
        retention-days: 5
