name: Testing and quality control for YARF codebase

on:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - '**'
      - '!docs/**'
      - '!snap/**'
      - '!.github/workflows/*'
      - '.github/workflows/yarf.yaml'

permissions:
  contents: read  # Required to check out repository code

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-jammy:
    name: Install and test on Jammy
    runs-on: [self-hosted, linux, jammy, x64, large]
    steps:
    - name: Install dependencies
      run: |
        sudo apt update -qq
        sudo apt install -y \
          git-lfs \
          libgl1 \
          libxkbcommon-dev \
          jq \
          clang \
          python3-tk

    - name: Checkout Repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      with:
        lfs: true
        persist-credentials: false

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: "3.10"
    - name: Install uv
      run: pip install uv
    - name: Sync Python dependencies
      run: uv sync

  test-noble:
    name: Test on Noble
    # We use GitHub hosted runners for this job as Pa11y needs working Chrom support
    runs-on: ubuntu-24.04
    steps:
    - name: Install dependencies
      run: |
        sudo apt update -qq
        sudo apt install -y \
          git-lfs \
          libgl1 \
          libxkbcommon-dev \
          jq \
          clang \
          python3-tk
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      with:
        lfs: true
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: "3.12"

    - name: Install uv and json schema
      run: pip install uv check-jsonschema

    - name: Check uv.lock file
      run: uv lock --check

    - name: Run tests
      run: |
        uv tool run tox

    - name: Upload Coverage Report
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: coverage
        path: ./coverage.xml
        retention-days: 5

    - name: Install integration dependencies
      run: |
        sudo snap install mir-test-tools
        sudo apt-get --yes --no-install-recommends install \
          ffmpeg \
          inotify-tools \
          gnome-calculator

    - name: Run integration tests
      run: |
        export WAYLAND_DISPLAY=wayland-99

        # Start Mir on a virtual display (doesn't require graphics hardware)
        mir-test-tools.demo-server \
          --add-wayland-extensions zwlr_screencopy_manager_v1:zwlr_virtual_pointer_manager_v1 \
          --platform-display-libs mir:virtual \
          --virtual-output 1280x1024 &

        # Wait for the compositor to start
        inotifywait --event create --include "^$XDG_RUNTIME_DIR/wayland-99\$" $XDG_RUNTIME_DIR

        # Avoid GNOME apps waiting for portals
        dbus-run-session -- gnome-calculator &

        uv run yarf --platform Mir --output-format TestSubmissionSchema tests/canary_test

    - name: Download test submission schema and validate
      run: |
        version=$(jq -r '.version' /tmp/yarf-outdir/TestSubmissionSchema_output.json)
        check-jsonschema --schemafile https://raw.githubusercontent.com/canonical/test-submission-schema/refs/heads/main/test_submission_schema/schemas/v${version}.json /tmp/yarf-outdir/TestSubmissionSchema_output.json

    - name: Install tutorial dependencies
      run: |
        sudo apt-get --yes --no-install-recommends install \
          python3-gi \
          gir1.2-gtk-4.0 \
          libadwaita-1-dev \
          gir1.2-adw-1

    - name: Run tutorial examples
      run: |
        export WAYLAND_DISPLAY=wayland-0

        # Start Mir on a virtual display (doesn't require graphics hardware)
        mir-test-tools.demo-server \
          --add-wayland-extensions zwlr_screencopy_manager_v1:zwlr_virtual_pointer_manager_v1 \
          --platform-display-libs mir:virtual \
          --virtual-output 1280x1024 &

        # Wait for the compositor to start
        inotifywait --event create --include "^$XDG_RUNTIME_DIR/wayland-0\$" $XDG_RUNTIME_DIR

        uv venv --python=/usr/bin/python3 --system-site-packages --project=$(pwd)/examples/yarf-example-simple-counter
        dbus-run-session -- uv --project=$(pwd)/examples/yarf-example-simple-counter run simple-counter &

        uv run yarf --platform Mir examples/yarf-example-simple-counter/yarf_tests

        dbus-run-session -- uv --project=$(pwd)/examples/yarf-example-simple-counter run simple-counter --theme light &
        uv run yarf --platform Mir --variant light examples/yarf-example-simple-counter/yarf_tests

    - if: failure()
      name: Collect test results
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: yarf-output
        path: /tmp/yarf-outdir/*
        retention-days: 5

    - if: failure() && runner.debug
      name: Setup upterm session (restart with "Enable debug logging" to activate)
      uses: canonical/action-tmate@a0e8caed3bba2ccb98901a274553bf1284ad96c2  # zizmor: ignore[stale-action-refs]
      with:
        limit-access-to-actor: true
